.mainContainer {
  width: 100%;
  min-height: calc(100vh - 86px);
  max-height: calc(100vh - 86px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.search {
  width: 90%;
}

.input {
  width: 25%;
}

.ordersParent {
  width: 100%;
  min-height: calc(100vh - 86px);
  max-height: calc(100vh - 86px);
  overflow-y: scroll;
  text-align: center;
}

.heading {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid whitesmoke;
}

.isEven {
  background-color: #001539;
}

.ordersContainer {
  width: 100%;
  min-height: calc(100vh - 153px);
  max-height: calc(100vh - 153px);
  overflow-y: scroll;
}

.order {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid whitesmoke;
  padding: 15px 0;
}