.mainContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.search {
    width: 90%;
}
.input {
    width: 25%;
}
.ordersParent {
    width: 90%;
    height: 70vh;
    max-height: 70vh;
    border: 1px solid black;
    overflow-y: scroll;
    text-align: center;
    border-radius: 5px;
}

.heading {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    background-color: rgb(230, 230, 230);
    padding-right: 5px;
}

.ordersContainer {
    width: 100%;
}

.grey{
    background-color: #e0e0e0;
}