.header {
  padding-right: 15px;
}

.container {
  width: 80vw;
  border: 2px solid black;
  background-color: #42a5f5;
  border-radius: 5px;
  padding: 20px;
  padding-right: 30px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
}

.productContainer {
  width: 100%;
  background-color: white;
  height: 70vh;
  max-height: 70vh;
  overflow-y: scroll;
}

.product {
  width: 100%;
}

.col {
  border-right: 1px solid black;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  text-align: center;
}

.productImage {
  max-width: 100%;
  height: auto;
}