.nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    max-height: 1vh;
}
.navicons {
    display: flex;
    gap: 40px;
    justify-content: end;
    align-items: center;
}
.outletWrapper {
    height: 90vh;
    max-height: 93vh;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    color: #42a5f5
}

.passWordModel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.passWordModelBox {
    width: 500px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 5px;

}

.passform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    height: 100%;
}

.infoModal {
    width: 600px;
    background-color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 5px;

}
