.nav {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    color: green
}

.outletWrapper {
    height: calc(100vh - 100px);
}