.image {
  width: auto;
  height: 100%;
}

.col {
  border-right: 1px solid black;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.storeStock {
  overflow-y: scroll;
}